.app__specialMenu {
  flex-direction: column;
}
.app__specialMenu-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__specialMenu-title {
  text-align: center;
  margin-bottom: 4rem;
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktail {
  flex-direction: column;
  width: 35%;
}

.app__specialMenu-menu_image {
  width: 30%;
}
.app__specialMenu-menu_image img {
  width: 80%;
}
.menu__heading {
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    gap: 1rem;
  }
  .app__specialMenu-menu_wine,
  .app__specialMenu-menu_cocktail {
    flex-direction: column;
    width: 90%;
  }
  .app__specialMenu-menu_image {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .app__specialMenu-menu_image {
    width: 70%;
  }
}
@media screen and (max-width: 680px) {
  .app__specialMenu-menu_image {
    width: 90%;
  }
}
